.spinner {
  color: red;
  border: 4px solid red;
  border-top-color: #ff790e;
  border-right-color: #09a7a1;
  border-bottom-color: #ff790e;
  border-left-color: #09a7a1;
  width: 3em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-animation: spinner-animation 800ms infinite linear;
  -moz-animation: spinner-animation 800ms infinite linear;
  animation: spinner-animation 800ms infinite linear;
}

@-webkit-keyframes spinner-animation {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinner-animation {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinner-animation {
  100% {
    transform: rotate(360deg);
  }
}
